[submodule "libov"]
	path = libov
	url = ../libov.git
[submodule "tascar"]
	path = tascar
	url = ../tascar
[submodule "third_party/getopt-for-windows"]
	path = third_party/getopt-for-windows
	url = https://github.com/Chunde/getopt-for-windows.git
[submodule "third_party/vcpkg"]
	path = third_party/vcpkg
	url = https://github.com/microsoft/vcpkg.git
