body {
    color: #fff;
    background-color: #282828;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 18px;
    margin: 0; 
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    width: 93%;
    background-position:center top;
    background-repeat: no-repeat;
}
.mixerstrip {
    width: calc(100% - 12px);
    background-color: #a0a0ff40;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 6px;
    border-radius: 15px;
}
.mixerego {
    background-color: #ffa0a040;
}
.mixerother {
    background-color: #ffffff40;
}
.mixerrow {
    display: block;
    padding-top: 0px;
    padding-bottom: 6px;
    overflow: visible;
}
.gaintxtfader {
    -webkit-appearance: none;
    width: 9%;
    height: 25px;
    border-radius: 5px;
    font-size: 80%;
    float: right;
}
.fader {
    -webkit-appearance: none;
    width: calc(88% - 5px);
    height: 25px;
    margin-bottom: 0px;
    border-radius: 5px;  
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
.mutebuttondiv {
    float: right;
}
.mutebuttonlabel {
    font-size: 70%;
}
.fader::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 45px;
    height: 45px;
    border-radius: 50%; 
    background: #4CAF50;
    cursor: pointer;
}

.fader::-moz-range-thumb {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}
button {
    width: 300px;
    height: 90px;
    background-color: #808077;
    color: #000000;
    border-radius:11px;
    padding:17px 24px;
    margin:0px 140px 70px 0px;
    font-size: 100%;
}
.level {
    width: 88%;
    height: 25px;
    border-radius: 5px;  
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
}

.checkbox {
    width: 30px;
}

.netctl {
    background-color: #383838;
    padding: 20px;
}
.jackrec {
    background-color: #a0a0a0;
    margin-top: 30px;
    padding: 10px;
    display: block;
    width: calc(100%-20px);
    border-radius: 15px;
}
.jackrecctl {
    padding: 10px;
    margin: 10px;
    border: 1px solid #666;
    border-radius: 15px;
}
.jackrecerr {
    color: #800000;
    font-weight: bold;
}
.filelist {
    border: 1px solid #666;
    border-radius: 15px;
    color: #000000;
    margin: 10px;
    padding: 10px;
}
.portlist {
    border: 1px solid #666;
    border-radius: 15px;
    color: #000000;
    margin: 10px;
    padding: 10px;
}
.listhead {
    color: #000;
    margin: 10px;
}
.ctlbutton {
    font-size: 100%;
}
.jackport {
    padding: 10px;
}
.rectime {
    background-color: #003000;
    color: #30aa30;
    font-size: 36px;
    text-align: center;
    width: 180px;
}
.recindicator {
    display: none;
    width: 36px;
    height: 36px;
    margin: 0px;
    background-color: #b00000;
    border-radius: 18px;
}
.parblock {
    display: block;
    border: 1px solid #333;
    background-color: #66668850;
    border-radius: 15px;
    margin: 0px;
    margin-top: 5px;
    padding: 8px;
}
.parstrip {
    display: block;
    border: 1px solid #666;
    background-color: #999;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
}
.parstriplabel {
    width: 20%;
    display: inline-block;
}
.parstripctl {
    width: 65%;
    display: inline-block;
}
.parstripdisp {
    width: 7%;
    font-size: 80%;
    float: right;
}
#plugpars {
    width: 100%;
    display: block;
    margin: 0px;
    padding: 0px;
}
.jackrecsrcport {
    width: auto;
    margin: 2px;
    padding: 2px;
    border: 1px solid #888;
}
.objmix {
    width: 100%;
    padding: 0px;
    margin: 0px;
    border: 1px solid #666;
    border-radius: 15px;
    background-color: #77777740;
    overflow: clip;
    touch-action: none;
}
.objmixer {
    width: 100%;
    touch-action: none;
}
.objmixctl {
    margin: 15px;
}
a {
    color: #fff;
}
.tabhide {
    display: none;
}
.tabshow {
    display: block;
}
.nav {
}
.navbutton {
    font-size: 100%;
    min-width:15vw;
    height: 40px;
    margin: 0;
    padding: 0;
    display: inline-block;
    background-color: #777;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 1px solid #999;
}
.tabact {
    background-color: #ffffff;
}
.elemframe {
    padding: 5px;
    border: 1px solid #999;
}
h1 {
    font-weight: normal;
    font-size: 100%;
}
