name: Ubuntu 22.04 make

on:
  push:
    branches: [ master, development, build-automation, digital-stage-client ]

jobs:
  build:

    runs-on: ubuntu-22.04

    steps:
    - uses: actions/checkout@v2
    - name: fetchtags
      run: git fetch --unshallow --tags
    - name: submods
      run: git submodule init && git submodule update --init --recursive && (cd libov && git submodule update --init)
    - name: tascar
      run: wget -qO- https://apt.hoertech.de/openmha-packaging.pub | sudo apt-key add - &&
           sudo apt-add-repository 'deb http://apt.hoertech.de/ jammy universe'
    - name: dependencies
      run: sudo apt update &&
           sudo apt install --assume-yes git zita-njbridge liblo-dev nodejs libcurl4-openssl-dev build-essential libasound2-dev libeigen3-dev libfftw3-dev libfftw3-double3 libfftw3-single3 libgsl-dev libjack-jackd2-dev libltc-dev libmatio-dev libsndfile1-dev libsamplerate0-dev mhamakedeb libboost-all-dev libcpprest-dev nlohmann-json3-dev libsoundio-dev libxerces-c-dev libgtkmm-3.0-dev libcairomm-1.0-dev
    - name: make
      run: make
    - name: packaging
      run: make packaging
    - name: test-install
      run: sudo apt install --assume-yes ./packaging/deb/debian/*/ov-client_*.deb
    - name: showversion
      run: dpkg-query -l ov-client
    - name: test-run
      run: ov-client --deviceid=000000000000 & sleep 20;killall ov-client
    - uses: actions/upload-artifact@v2
      with:
        name: debian
        path: packaging/deb/debian/*/*.deb
